<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мир Книг - Товары</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/products.js"></script>
</head>

<body style="min-height: 100vh; display: flex; flex-direction: column;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="/">Мир Книг</a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Товары</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/products">Управление товарами</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Поиск книг..." id="searchInput">
                    <button class="btn btn-outline-success" type="button" onclick="searchProducts()">Поиск</button>
                </form>
            </div>
        </div>
    </nav>
    
    <div class="container mt-4 flex-grow-1">
        <h1 class="mb-4">Наши книги</h1>
        <div class="row justify-content-center ms-1 me-1" id="products">
            <!-- Здесь будут товары -->
            <div class="col-12 text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Загрузка...</span>
                </div>
                <p class="mt-2">Загрузка товаров...</p>
            </div>
        </div>
    </div>
    
    <footer class="footer bg-body-tertiary mt-5">
        <div class="container p-4">
            <div class="d-flex flex-column">
                <h3>Магазин "Мир Книг"</h3>
                <span>Адрес: 456204, Златоуст, ул. Шапошникова, 1а​</span>
                <span>Телефон: <a href="tel:+73513671044">+73513671044</a>​</span>
            </div>
        </div>
        
    </footer>
</body>

</html>